{% extends 'base.html.twig' %}
{% block slide1 %}

    <div class="col-12 slide" style="display: block;">
        <div class="col-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="login-page">
                <!-- Material form login -->
                <div class="card">

                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>inscription</strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body w-100">
                        {{form_start(form)}}
                        <div class="md-form w-100">
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'id': 'materialLoginFormEmail'} }) }}
                        </div>

                        <div class="md-form w-100">
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id': 'materialLoginFormEmail'} }) }} 
                        </div>

                        <div class="md-form w-100"> 
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'materialLoginFormEmail'} }) }} 
                        </div>
                        <!-- Password -->
                        <div class="md-form w-100">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'materialLoginFormEmail'} }) }}
                
                            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                            Au moins 8 caractères
                            </small>
                        </div>
            
                        <div class="md-form w-100">
                            {{ form_label(form.plainPassword.second) }} 
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'materialLoginFormEmail'} }) }}              
                        </div>
                        <button class="btn btn-outline-info btn-rounded my-4 waves-effect z-depth-0" type="submit"><a href="{{ path('users_new')}}"></a>Inscription</button>
                        {{form_end(form)}}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>			
{% endblock %}
				 	
{% block slide3 %}
{% endblock %}		 
			 
{% block container %}  
{% endblock %}