{% extends 'base.html.twig' %}
{% block content1 %}
            
        
<h2>Toutes les figures</h2>
    <div class="main">
      <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
            <h3 class="m_2" id="ancre"></h3> 
            {% for trick in tricks %}
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 team1">
                <div class="img_section_magnifier2">
                  <a class="fancybox" href="{{ asset('images/'~trick.image) }}" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="{{ asset('images/'~trick.image) }}" class="img-responsive" alt=""></a><span> </span>
                    <div class="img_section_txt"> 
                        
                        <button><a href="{{ path('tricks_show', {'id': trick.id}) }}" >{{trick.name}}</a></button>
                        <div id="id-popup">
                            {% if is_granted('ROLE_USER') and trick.auteur|length > 0 %}

                                {% if  trick.auteur[0] and app.user == trick.auteur[0] %}
                                {{ include('tricks/_delete_form.html.twig') }}
                             
                                {% endif %}
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
                </div>
                
            {% endfor %}
            </div>
     
        </div>
     </div>
    </div>
    <div class="features">
        <div class="container0">
            <div class="col-md-3 col-lg-3 top_box1">
                    
                <div class="button" class="droite"><a href="#ancre">En Haut</a></div>
                
            </div>
              
        </div>
    </div>
        
{% endblock %}
{% block content2 %}
     
   
{% endblock %}
{% block javascript %}
<script type="text/javascript">
        $(document).ready(function() 
        {
            /*
             *  Simple image gallery. Uses default settings
             */
            $('#idid-popup').modal('show');

            $('.fancybox').fancybox();

        });
</script>{% endblock %}
