{% extends 'base.html.twig' %}

{% block slide1 %}
{% set image = trick.image|default('2.jpeg') %}

    <div class="slide">
             
        <!-- Slide image -->
        <img src="{{ asset('images/'~trick.image) }}" class="img-responsive" alt=""/>
        <!-- /Slide image -->
        <!-- Texts container -->
        <div class="slide_content">
            <div class="slide_content_wrap">
                <!-- Text title -->
                <h1 class="title">{{ trick.name }}</h1>
                <!-- /Text title -->
                <div class="nn">
                    {% if is_granted('ROLE_USER') and trick.auteur|length > 0 %}

                        {% if  trick.auteur[0] and app.user == trick.auteur[0] %}
                            <a href="{{ path('tricks_edit', {'slug': trick.slug}) }}"><i class="fas fa-pen"></i></a>
                                
                            <a href="{{ path('tricks_delete', {'id': trick.id}) }}"><i class="fas fa-trash"></i></a>
                             
                        {% endif %}

                    {% endif %}
                </div>
                <a href="{{ path('tricks_edit', {'slug': trick.slug}) }}"><i class="fas fa-pen"></i></a>
                        
            </div>
        </div>
    </div>

{% endblock %}

{% block content1 %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
            <button class="vu visible-xs-*">Voir les vidéos</button>
            <div class="video hidden-xs ">
                <div class="d-flex flex-row">
                    

                    {% set raw = "raw" %}
                    
                    <div class="p-2">{{ trick.video|raw }}</div>
                    <div class="p-2">{{ trick.secondeVideo|raw }}</div>
                    <div class="p-2">{{ trick.troisiemeVideo|raw }}</div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <hr>
   <!-- Jumbotron -->
    <div class="jumbotron text-center">

        <!-- Title -->
        <h4 class="card-title h4 pb-2"><strong> {{ trick.name }}</strong></h4>

        <!-- Card image -->
  

        <h5 class="indigo-text h5 mb-4">Snowboarder freestyle</h5>

        <p class="card-text">
            Le snowboard freestyle (anglicisme) ou la planche acrobatique de neige1 (ou artistique) est la pratique de la planche à neige de figures, apparue dans les années 1980 et héritière du skateboard. Cette discipline de planche acrobatique consiste pour ses pratiquants à exécuter des figures libres lors de sauts pratiqués à l'aide de structures diverses utilisées comme tremplin. Elle a principalement lieu dans des zones spéciales dédiées comme les snowparks ou en milieu urbain. Elle peut aussi être pratiquée en hors-piste (backcountry en anglais). Cette discipline est considérée comme un sport extrême.

            Le snowboardeur qui pratique le snowboard freestyle est appelé freestyleur (freestyler), ou plus généralement rideur (rider). Les épreuves de snowboard freestyle disputées en Coupe du monde, aux championnats du monde et aux Jeux olympiques sont le half-pipe, le slopestyle, le big air et le snowboard-cross... Cette figure est {{ trick.name }}. {{ trick.description }}.
        </p>
        <br>
        <p>
            Cette figure fait partie du groupe {{ trick.groupname }}. La date de création est le {{ trick.DateCreation }} et la date de modification est {{ trick.DateModification }}.
        </p>
    </div>
<!-- Jumbotron -->
{% endblock %}

{% block slide2 %}

{% endblock %}

{% block slide3 %}
          
{% endblock %}

{% block content2 %}

    {% if is_granted('ROLE_USER')  %}
        <br>  
        <br>
        <br>
        <hr>
        {{ include('users/_form.html.twig') }}

        
    {% endif %}

    <br>
    <hr>
    <div class= "bo text-center">
        <div class= "row ex_bo">
            <br>
            <br>
            {% include 'commentaires/blockCommentaire.html.twig' with {'commentaireAffichage': commentaireAffichage}
            %}
            <br>
            <hr>
            <br>
        </div>

        <button type='button' id='loading' class="btn btn-primary"> Voir plus</button>
        <br>
        <a href="{{ path('tricks_index') }}" class="btn btn-info">Revenir sur la page d'accueil</a>
    </div> 
    </br> 
    </br>  
    {% include 'paginator/show.html.twig' %}
  

    {% if is_granted('ROLE_USER') and trick.auteur|length > 0 %}
        {% if  trick.auteur[0] and app.user == trick.auteur[0] %}
            <a href="{{ path('tricks_edit', {'slug': trick.slug}) }}" class="btn btn-secondary">Modifier</a>
            {{ include('tricks/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">var lastId = 2 </script>
    <script type="text/javascript"> $("#loading").click(function()
    {
        var trickId = '{{ trick.id }}';
        var jqxhr = $.post( "{{path('commentaire_ajax')}}", { id: lastId, trickId: trickId }
        ,function(data) {
        $('.ex_bo').append( data );
        lastId = $('.ex_bo > div').length;
        });
    }) 
    </script>

    <script type="text/javascript">
        $('.vu').click(function() 
        {
            $('.video').toggleClass( "hidden-xs" );

            if($('.vu').html().trim() == 'Voir les vidéos')
            {
                $('.vu').html('cacher la vidéo');
            }
            else
            {
                $('.vu').html('Voir les vidéos');
            }
        })
    </script>

{% endblock %}


