{% extends 'base.html.twig' %}

{% block title %}Paginator index{% endblock %}

{% block body %}
    <h1>Paginator index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Page</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paginator in paginators %}
            <tr>
                <td>{{ paginator.id }}</td>
                <td>{{ paginator.page }}</td>
                <td>
                    <a href="{{ path('paginator_show', {'id': paginator.id}) }}">show</a>
                    <a href="{{ path('paginator_edit', {'id': paginator.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paginator_new') }}">Create new</a>
{% endblock %}
